<form method="POST">
    <div class="card">
        <h4 class="card-header">
            Edit Category
        </h4>

        {{#if isViewEdit}}
        {{else}}
            {{#if isSuccess}}
            {{else}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> You should fill in the Category.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
            {{#if isDelete}}
            {{else}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> You only can delete item with 0 quantity.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
        {{/if}}


        <div class="card-body">
            <div class="form-group">
                <label for="CatID">ID</label>
                <input type="text" class="form-control" id="CatID" name="CatID1" readonly value="{{this.category.CatID1}}">
            </div>
            <div class="form-group">
                <label for="QuantityLV1">Quantity</label>
                <input type="text" class="form-control" id="QuantityLV1" name="QuantityLV1" readonly value="{{this.category.QuantityLV1}}">
            </div>
            <div class="form-group">
                <label for="CatName">Category</label>
                <input type="text" class="form-control" id="CatName" name="CatName1" value="{{this.category.CatName1}}" autofocus>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="/admin/categories/lv1" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" formaction="/admin/categories/lv1/del" class="btn btn-danger">
                <i class="fa fa-check" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" formaction="/admin/categories/lv1/patch" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>